<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<style>
    #content {
        margin-top: -80px;
    }
    #canvas {
        width: 100%;
        height: 500px;
    }
    #info {
        position: relative;
        top: 50px;
        width: 100%;
        text-align: center;
        /*z-index: 100;*/
        display:block;
        font-weight: bold;
    }
    .page-header {
        padding-bottom: 10px;
        padding-top: 50px
    }
    .ex-img img {
        max-width: 80%;
    }
    .project-tagline a {
        color: #fff;
    }
    a {
        text-decoration: underline;
    }
</style>
